header {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 80px;
  font-size: 14px;
  font-weight: bold;
  z-index: 5;
  border-bottom: thin solid black;
  /*cant figure out how to get body to not appear above header when scrolling*/
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-grow: 1;
}

header span {
  margin-left: 15px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;
}

header nav {
  padding-right: 40px;
}

nav a {
  display: inline-block;
  margin-left: 15px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin: 0px 10px;
}

div {
  border: thin solid black;
}

.main-container {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
}

.column {
  display: flex;
  flex-direction: column;
}

.large {
  width: 630px;
  margin-right: 18px;
}

.medium {
  width: 300px;
  margin-left: 18px;
  margin-right: 18px;
}

.small {
  width: 240px;
  height: 636px;
  margin-left: 18px;
  margin-right: 36px;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main-text {
  font-size: 40px;
}

.image-story {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main-img {
  background-image: url(./images/main.png);
  height: 300px;
}

.mother-container {
  display: flex;
  flex-direction: column;
}

.earth-img {
  background-image: url(./images/fall.png);
  height: 300px;
  margin-top: 15px;
}

.camera-img {
  background-image: url(./images/cameraman.png);
  height: 300px;
  margin-top: 15px;
}
